.card__container {
  width: 320px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(96, 149, 230);
  /* border: 1px solid white; */
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s, background-color 0.25s;
}

.card__container:hover {
  transform: scale(1.05);
  background-color: rgb(229, 237, 241);
}

.card__container h2 {
  color: rgb(5, 5, 63);
}

.card__container p {
  margin-top: -0.85rem;
}
